* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 15vh;
  /* background-color: aqua; */
}
.right-nav {
  display: flex;
  gap: 70px;
  /* margin-right: 10%; */
}
.right-nav a {
  text-decoration: none;
  /* margin-right: 10%; */
  justify-self: center;
}

.right-nav a:hover {
  font-weight: bold;
}

.logo img {
  width: 100px;
  padding: 10%;
}
.toggle-menu {
  display: none;
}

.logr {
  padding: 10px 5px;
  border-radius: 5px;
  background-color: aqua;
  font-size: large;
  font-weight: bold;
  cursor: pointer;
}
.hero-cont {
  position: relative;
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../assets/img/photo-1507358522600-9f71e620c44e.jpg);
  background-size: cover;
  color: #fff;
}
.hero-over {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@media (max-width: 768px) {
  .right-nav {
    position: fixed;
    left: -100%;
    display: flex;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    width: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: 99;
  }
  .toggle-menu {
    display: block;
    margin-right: 10%;
    z-index: 100;
    cursor: pointer;
  }

  .right-nav a {
    margin: 4% 0;
    color: white;
  }
  .right-nav.active {
    left: 0%;
  }
}
